<div id="copyright">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li>Design by <a href="https://html5up.net">HTML5 UP</a></li>
        <li>Published with <a href="https://ghost.org">Ghost</a></li>
    </ul>
</div>